*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * 1. Remove margin from all elements
 * 2. Remove paddings from all elements
*/
* {
  margin: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Change the font styles in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 1 */
  font-family: inherit;
  /* 2 */
  font-size: 100%;
  /* 2 */
  line-height: 1.15;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
  /* 1 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
  /* 1 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  font-family: Dosis;
}

.l-page {
  background-color: #f0f2f1;
}

.l-nav {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.l-nav .nav__logo {
  grid-column: 1/4;
  justify-self: center;
}
.l-nav .nav__list {
  grid-column: 5/12;
}
.l-nav .nav__user {
  grid-column: 13/17;
}

.l-header {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-header .site-header__media {
  grid-column: 1/3;
  justify-self: center;
  align-self: start;
}
.l-header .site-header__cta {
  grid-column: 5/12;
}
.l-header .site-header__video {
  grid-column: 13/17;
  align-self: end;
}

.l-intro {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-intro .intro__background {
  grid-column: 1/13;
  grid-row: 1;
}
.l-intro .intro__cta {
  grid-column: 5/8;
  grid-row: 1;
}
.l-intro .intro__side {
  grid-column: 13/17;
  grid-row: 1;
}
.l-intro .intro__image-wrapper {
  grid-column: 10/16;
  grid-row: 1;
  align-self: center;
}

.l-expertise {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-expertise .expertise__header {
  grid-column: 6/12;
  grid-row: 1;
}
.l-expertise .expertise__content {
  grid-column: 3/15;
  grid-row: 2;
}

.l-services {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}
.l-services .services__side-background {
  grid-column: 1/7;
  grid-row: 1;
}
.l-services .services__main-background {
  grid-column: 7/19;
  grid-row: 1;
}
.l-services .services__boxes {
  grid-column: 4/10;
  grid-row: 1;
}
.l-services .services__cta {
  grid-column: 11/14;
  grid-row: 1;
}

.l-portfolio {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}
.l-portfolio .portfolio__item {
  grid-column: span 6;
}

.l-testimonials {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-testimonials .testimonials__content {
  grid-column: 5/13;
}

.pricing {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.pricing .pricing__header {
  grid-column: 6/12;
  grid-row: 1;
}
.pricing .pricing__content {
  grid-column: 3/15;
  grid-row: 2;
}

.nav {
  z-index: 1;
  padding: 20px 0;
}
.nav--skin {
  text-transform: uppercase;
  box-shadow: 5px 0px 7px 2px rgba(15, 17, 32, 0.2);
  background-color: white;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__user {
  display: flex;
  justify-content: flex-end;
}

.nav__link {
  transition: all 0.4s;
}
.nav__link:hover:not(.nav__link--active):not(.nav__link--register) {
  color: #0151dc;
}
.nav__link--skin {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}
.nav__link--active {
  color: #1268fe;
}
.nav__link--active:hover {
  cursor: default;
}
.nav__link-wrapper {
  margin-right: 15px;
}

.nav__btn {
  transition: all 0.4s;
  padding: 10px;
}
.nav__btn--skin {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}
.nav__btn--login {
  border: 1px solid rgba(15, 17, 32, 0.3);
}
.nav__btn--login:hover {
  border: 1px solid rgba(1, 81, 220, 0.6);
}
.nav__btn--register {
  background-color: #1268fe;
  color: white;
}
.nav__btn--register:hover {
  background-color: #013ea9;
}
.nav__btn-wrapper {
  margin-right: 60px;
}

.logo--skin {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.6px;
}

.site-header {
  padding-top: 250px;
}
.site-header--skin {
  background-color: #fff;
  background-image: url(../assets/svg/header-decoration.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% center;
}
.site-header__cta {
  padding-bottom: 200px;
}

.social-media__item {
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 20px;
  margin-top: 30px;
}
.social-media__item:hover {
  filter: invert(1);
}
.social-media__item--skin {
  border-radius: 50%;
  border: 1px solid rgba(15, 17, 32, 0.15);
  background-color: white;
}
.social-media__item--twitter {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
}
.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.cta {
  color: white;
}
.cta--main {
  color: #0f1120;
}
.cta__header {
  margin-bottom: 50px;
}
.cta__header--skin {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1.3px;
}
.cta__header--main {
  font-size: 72px;
  letter-spacing: -2px;
  margin-bottom: 100px;
}
.cta__content {
  margin-bottom: 70px;
}
.cta__content--skin {
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.video {
  position: relative;
  background-image: url(../assets/img/header-video.jpg);
  background-color: #1268fe;
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 50% 0;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 35%;
}
.video__play:hover {
  cursor: pointer;
}

.intro {
  background-color: #fff;
}
.intro__background {
  background-color: #1268fe;
  background-image: url(../assets/img/workspace.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
}
.intro__cta {
  padding: 200px 0;
}
.intro__side {
  background-image: url(../assets/svg/intro-decoration.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.intro__image {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}
.intro__image-wrapper {
  position: relative;
}
.intro__image-wrapper::before {
  position: absolute;
  bottom: 0;
  right: 10%;
  transform: rotate(-90deg);
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
  white-space: pre;
  content: "Delighting customers in over\a 200 cities in the world.";
}
.intro__image-wrapper::after {
  position: absolute;
  top: -25px;
  right: -25px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url(../assets/svg/plus.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: 50% 50%;
  width: 55px;
  height: 55px;
  content: "";
}

.expertise {
  margin: 100px 0;
}
.expertise__header {
  margin-bottom: 50px;
}
.expertise__main {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1.3px;
  text-align: center;
}
.expertise__sub {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: center;
}
.expertise__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 60px 65px rgba(15, 17, 32, 0.1);
  background-color: white;
}
.expertise__icon {
  width: 100%;
}
.expertise__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 50px;
}
.expertise__column:nth-of-type(2) {
  border-left: 1px solid rgba(15, 17, 32, 0.1);
  border-right: 1px solid rgba(15, 17, 32, 0.1);
}
.expertise__title {
  margin-top: 80px;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.6px;
}
.expertise__text {
  margin-top: 20px;
  margin-bottom: 150px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: center;
}
.expertise__btn {
  margin-top: 100px;
}

.btn {
  transition: all 0.4s;
  padding: 20px 80px;
}
.btn:hover {
  filter: invert(1);
  cursor: pointer;
}
.btn--skin {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 32px;
  background-color: black;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.btn--invert {
  border: 1.5px solid rgba(15, 17, 32, 0.15);
  border-radius: 32px;
  background-color: white;
  color: #0f1120;
}
.btn--small {
  padding: 15px 60px;
}
.btn--transparent {
  background-color: #0f1120;
}
.btn--primary {
  background-color: #1268fe;
}
.btn--primary:hover {
  filter: none;
  background-color: white;
  color: #0f1120;
}

.services {
  background-color: #1268fe;
}
.services__main-background {
  background-color: #0f1120;
  background-image: url(../assets/svg/services-decoration.svg);
  background-size: cover;
}
.services__side-background {
  background-image: url(../assets/img/workspace.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.services__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}
.services__item:first-of-type {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.services__item--secondary {
  background-color: rgba(15, 17, 32, 0.8);
}
.services__item--primary {
  background-color: #1268fe;
}
.services__item--primary-darkest {
  background-color: #1d1f2d;
}
.services__icon {
  width: 100%;
  height: 100%;
  fill: transparent;
}
.services__icon-wrapper {
  width: 41px;
  height: 60px;
}
.services__icon-wrapper--cyclist {
  width: 60px;
  height: 56px;
}
.services__cta {
  margin: 300px 0;
}
.services__play {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  width: 160px;
  height: 160px;
  font-size: 16px;
  letter-spacing: -0.45px;
}
.services__play:hover {
  cursor: pointer;
}

.portfolio__item {
  position: relative;
  height: 100%;
  contain: layout;
}
.portfolio__item:hover .portfolio__content-wrapper {
  opacity: 1;
  cursor: pointer;
}
.portfolio__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 77%;
  height: 77%;
  text-align: center;
  color: white;
}
.portfolio__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(18, 104, 254, 0.6);
  width: 100%;
  height: 100%;
}
.portfolio__title {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.7px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.45px;
}
.portfolio__image {
  width: 100%;
  object-fit: cover;
}
.portfolio__image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.testimonials {
  background-color: #0f1120;
  background-image: url(../assets/img/sky.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
}
.testimonials--secondary {
  background-color: rgba(15, 17, 32, 0.8);
  background-image: url(../assets/img/white-suit.jpg), url(../assets/svg/testimonials-decoration.svg);
  background-size: cover, 50%;
  background-position: top, center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
.testimonials__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 300px 0;
  color: white;
  text-align: center;
}
.testimonials__header {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -1.35px;
}
.testimonials__opinion {
  margin-top: 60px;
  font-size: 32px;
  line-height: 57px;
  letter-spacing: -1.4px;
}
.testimonials__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.testimonials__name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.5px;
}
.testimonials__title {
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: -0.4px;
}
.testimonials__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__image-wrapper {
  overflow: hidden;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
.testimonials__cta {
  color: white;
}

.pricing {
  margin: 100px 0;
}
.pricing__header {
  margin-bottom: 80px;
  text-align: center;
}
.pricing__main {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -1.3px;
}
.pricing__sub {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.pricing__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 60px 65px rgba(15, 17, 32, 0.1);
  background-color: white;
  text-align: center;
}
.pricing__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: white;
}
.pricing__column:nth-of-type(2) {
  justify-content: center;
  transform: translateY(-4.54%);
  box-shadow: 0 40px 56px rgba(15, 17, 32, 0.1);
  height: 110%;
}
.pricing__title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 45px;
}
.pricing__cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #0f1120;
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: white;
}
.pricing__cost--primary {
  background-color: #1268fe;
}
.pricing__description {
  margin-bottom: 35px;
  width: 80%;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
}
.pricing__features {
  margin-bottom: 30px;
  width: 100%;
}
.pricing__benefit {
  padding: 20px 0;
  border-bottom: 1px solid rgba(15, 17, 32, 0.1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*# sourceMappingURL=main.css.map */
