@keyframes blur-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
 * 1. Remove margin from all elements
 * 2. Remove paddings from all elements
*/
* {
  margin: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Change the font styles in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  /* 1 */
  font-family: inherit;
  /* 2 */
  font-size: 100%;
  /* 2 */
  line-height: 1.15;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
  /* 1 */
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
  /* 1 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:focus {
  outline: none;
}

ul {
  list-style: none;
}

input:focus {
  outline: none;
}

* {
  font-family: Dosis;
}

.header__primary {
  font-size: 72px;
  letter-spacing: -2px;
}
@media only screen and (max-width: 800px) {
  .header__primary {
    font-size: clamp(40px, 9vw, 72px);
    letter-spacing: -1px;
  }
}
.header__secondary {
  font-size: 48px;
  letter-spacing: -1.3px;
}
@media only screen and (max-width: 800px) {
  .header__secondary {
    font-size: clamp(32px, 7vw, 48px);
    letter-spacing: 0;
  }
}
.header__tertiary {
  font-size: 36px;
}
.header__quaternary {
  font-size: 24px;
  letter-spacing: -0.6px;
}
@media only screen and (max-width: 1023px) {
  .header__quaternary {
    font-size: clamp(16px, 2.4vw, 24px);
    letter-spacing: 0;
  }
}

.text__primary {
  font-size: 32px;
  line-height: 57px;
  letter-spacing: -1.4px;
}
@media only screen and (max-width: 800px) {
  .text__primary {
    font-size: clamp(24px, 5vw, 32px);
    line-height: 32px;
    letter-spacing: -0.5px;
  }
}
.text__secondary {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.5px;
}
.text__tertiary {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
}
@media only screen and (max-width: 1023px) {
  .text__tertiary {
    font-size: clamp(12px, 1.7vw, 16px);
    line-height: 1.5;
    letter-spacing: 0;
  }
}

.link {
  transition: all 0.4s;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;
}
.link:hover, .link:focus {
  color: #0151dc;
  cursor: pointer;
}
.nav__link .link {
  padding-left: 0;
}
.nav__mobile-list .link {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
}

.l-page {
  background-color: #f0f2f1;
}

.home {
  position: relative;
  background-color: white;
  background-image: url(../assets/svg/sprite-decorations.svg#icon-home);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% center;
  min-height: 100%;
  align-self: flex-start;
}
.home__cta {
  padding-bottom: 5%;
}
@media only screen and (max-width: 1023px) {
  .home__cta {
    margin-top: 20px;
  }
}
.home__video {
  background-image: url(../assets/img/header-video.jpg);
  background-color: #1268fe;
  background-size: cover;
  background-blend-mode: soft-light;
}
.home__nav {
  padding-top: 5vh;
  z-index: 30;
}
@media only screen and (max-width: 1023px) {
  .home__nav {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .home__nav {
    padding-top: 0;
    height: 51px;
  }
}
.home__nav-mobile {
  position: fixed;
  top: 0;
  right: -100vw;
  visibility: hidden;
  z-index: 20;
  transition: all 0.4s;
  width: 320px;
}
.home__nav-mobile-is-visible {
  right: 0;
  visibility: visible;
}

.l-home {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-home .home__nav {
  grid-column: 1/17;
}
.l-home .home__media {
  grid-column: 1/3;
  justify-self: center;
}
@media only screen and (max-width: 1023px) {
  .l-home .home__media {
    justify-self: end;
  }
}
@media only screen and (max-width: 800px) {
  .l-home .home__media {
    display: none;
  }
}
.l-home .home__cta {
  grid-column: 4/11;
  align-self: start;
}
@media only screen and (max-width: 1279px) {
  .l-home .home__cta {
    grid-column: 5/15;
  }
}
@media only screen and (max-width: 800px) {
  .l-home .home__cta {
    grid-column: 2/16;
  }
}
.l-home .home__video {
  grid-column: 13/17;
  align-self: end;
}
@media only screen and (max-width: 1279px) {
  .l-home .home__video {
    display: none;
  }
}

.about {
  min-height: 100%;
}
.about__main-background {
  background-color: #1268fe;
  background-image: url(../assets/img/workspace.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
}
.about__side-background {
  background-color: white;
  background-image: url(../assets/svg/sprite-decorations.svg#icon-about);
  background-size: 100%;
  background-repeat: no-repeat;
}
.about__cta {
  padding: 5% 0;
}
.about__caption {
  position: absolute;
  bottom: 0;
  right: 10%;
  transform: rotate(-90deg);
  font-weight: 900;
}
.about__plus {
  width: 60%;
  height: 60%;
}
.about__plus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  right: -28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.about__image {
  width: 100%;
  min-height: 300px;
  object-fit: cover;
}
.about__image-wrapper {
  position: relative;
}

.l-about {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-about .about__main-background {
  grid-column: 1/13;
  grid-row: 1;
}
@media only screen and (max-width: 1279px) {
  .l-about .about__main-background {
    grid-column: 1/-1;
  }
}
.l-about .about__side-background {
  grid-column: 13/17;
  grid-row: 1;
}
@media only screen and (max-width: 1279px) {
  .l-about .about__side-background {
    display: none;
  }
}
.l-about .about__cta {
  grid-column: 4/8;
  grid-row: 1;
  align-self: center;
}
@media only screen and (max-width: 1279px) {
  .l-about .about__cta {
    grid-column: 5/15;
  }
}
@media only screen and (max-width: 800px) {
  .l-about .about__cta {
    grid-column: 2/16;
  }
}
.l-about .about__image-wrapper {
  grid-column: 10/16;
  grid-row: 1;
  align-self: center;
}
@media only screen and (max-width: 1279px) {
  .l-about .about__image-wrapper {
    display: none;
  }
}

.expertise {
  padding: 5% 0;
  min-height: 100%;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .expertise {
    padding-bottom: 0;
  }
}
.expertise__main {
  margin-bottom: 30px;
}
.expertise__content {
  margin-top: 40px;
  display: flex;
  box-shadow: 0 60px 65px rgba(15, 17, 32, 0.1);
  background-color: white;
}
@media only screen and (max-width: 800px) {
  .expertise__content {
    flex-direction: column;
  }
}
.expertise__icon {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .expertise__icon {
    width: 50%;
  }
}
.expertise__column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
}
@media only screen and (max-width: 800px) {
  .expertise__column {
    border: 1px solid rgba(15, 17, 32, 0.1);
    padding: 20px 0;
  }
}
.expertise__column:nth-of-type(2) {
  border-left: 1px solid rgba(15, 17, 32, 0.1);
  border-right: 1px solid rgba(15, 17, 32, 0.1);
}
.expertise__title {
  margin-top: 50px;
}
@media only screen and (max-width: 800px) {
  .expertise__title {
    margin-top: 20px;
  }
}
.expertise__text {
  margin-top: 20px;
  margin-bottom: 60px;
  width: 80%;
}
@media only screen and (max-width: 800px) {
  .expertise__text {
    margin-bottom: 20px;
  }
}

.l-expertise {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
}
.l-expertise .expertise__header {
  grid-column: 6/12;
}
@media only screen and (max-width: 1279px) {
  .l-expertise .expertise__header {
    grid-column: 5/13;
  }
}
@media only screen and (max-width: 1023px) {
  .l-expertise .expertise__header {
    grid-column: 4/14;
  }
}
@media only screen and (max-width: 800px) {
  .l-expertise .expertise__header {
    grid-column: 2/16;
  }
}
.l-expertise .expertise__content {
  grid-column: 3/15;
  align-self: start;
}
@media only screen and (max-width: 1279px) {
  .l-expertise .expertise__content {
    grid-column: 2/16;
  }
}
@media only screen and (max-width: 1023px) {
  .l-expertise .expertise__content {
    grid-column: 1/17;
  }
}

.services {
  min-height: 100%;
}
.services--second {
  background-color: #0f1120;
  background-image: url(../assets/img/man-reading.jpg), url(../assets/svg/sprite-decorations.svg#icon-second-services);
  background-size: cover, 70%;
  background-position: 0 0, 120%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .services--second {
    background-image: url(../assets/img/man-reading.jpg);
    background-size: cover;
    background-position: 0 0;
  }
}
.services__main-background {
  background-color: #0f1120;
  background-image: url(../assets/svg/sprite-decorations.svg#icon-first-services);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.services__side-background {
  background-image: url(../assets/img/workspace.jpg);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.services__cta {
  padding: 5% 0;
}
.services__cta--right {
  margin-left: 30px;
}
.services__boxes {
  display: flex;
  justify-self: center;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}
@media only screen and (max-width: 1279px) {
  .services__boxes {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 1023px) {
  .services__boxes {
    width: 300px;
    height: 300px;
  }
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}
.services__item:first-of-type {
  border-bottom: 1px solid rgba(151, 151, 151, 0.2);
}
.services__item--secondary {
  background-color: rgba(15, 17, 32, 0.8);
}
.services__item--primary {
  background-color: #1268fe;
}
.services__item--primary-darkest {
  background-color: #1d1f2d;
}
.services__icon {
  width: 100%;
  height: 100%;
  fill: transparent;
}
.services__icon-wrapper {
  width: 41px;
  height: 60px;
}
.services__icon-wrapper--cyclist {
  width: 60px;
  height: 56px;
}
.services__play {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  width: 60%;
  height: 60%;
}
.services__play:hover {
  cursor: pointer;
}
.services__phone-image {
  width: 100%;
}

.l-services {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}
@media only screen and (max-width: 800px) {
  .l-services {
    display: none;
  }
}
.l-services .services__side-background {
  grid-column: 1/7;
  grid-row: 1;
}
@media only screen and (max-width: 1023px) {
  .l-services .services__side-background {
    grid-column: 1/5;
  }
}
@media only screen and (max-width: 800px) {
  .l-services .services__side-background {
    display: none;
  }
}
.l-services .services__main-background {
  grid-column: 7/-1;
  grid-row: 1;
}
@media only screen and (max-width: 1023px) {
  .l-services .services__main-background {
    grid-column: 5/-1;
  }
}
@media only screen and (max-width: 800px) {
  .l-services .services__main-background {
    grid-column: 1/-1;
  }
}
.l-services .services__boxes {
  grid-column: 4/10;
  grid-row: 1;
  align-self: center;
}
@media only screen and (max-width: 1023px) {
  .l-services .services__boxes {
    grid-column: 2/8;
  }
}
.l-services .services__cta {
  grid-column: 12/17;
  grid-row: 1;
  align-self: center;
}
@media only screen and (max-width: 1279px) {
  .l-services .services__cta {
    grid-column: 11/17;
  }
}
@media only screen and (max-width: 1023px) {
  .l-services .services__cta {
    grid-column: 9/17;
  }
}
@media only screen and (max-width: 800px) {
  .l-services .services__cta {
    grid-column: 2/16;
  }
}

.l-services--second {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-services--second .services__cta {
  grid-column: 4/9;
  grid-row: 1;
}
@media only screen and (max-width: 1023px) {
  .l-services--second .services__cta {
    grid-column: 5/15;
    justify-self: center;
  }
}
@media only screen and (max-width: 800px) {
  .l-services--second .services__cta {
    grid-column: 2/16;
  }
}
.l-services--second .services__phone {
  grid-column: 10/15;
  grid-row: 1;
}
@media only screen and (max-width: 1023px) {
  .l-services--second .services__phone {
    display: none;
  }
}

.projects__item {
  position: relative;
  height: 100%;
}
.projects__item:hover .projects__content-wrapper {
  opacity: 1;
  cursor: pointer;
}
.projects__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 77%;
  height: 77%;
  text-align: center;
  color: white;
}
@media only screen and (max-width: 1023px) {
  .projects__content {
    width: 90%;
    height: 90%;
  }
}
.projects__content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  background-color: rgba(18, 104, 254, 0.6);
  width: 100%;
  height: 100%;
}
.projects__title {
  margin-bottom: 10px;
}
.projects__image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.projects__image-wrapper {
  height: 100%;
}

.l-projects {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  min-height: 66.6666666667vw;
}
@media only screen and (max-width: 800px) {
  .l-projects {
    min-height: 150vw;
  }
}
@media only screen and (max-width: 600px) {
  .l-projects {
    min-height: 600vw;
  }
}
.l-projects .projects__item {
  grid-column: span 6;
}
@media only screen and (max-width: 800px) {
  .l-projects .projects__item {
    grid-column: span 9;
  }
}
@media only screen and (max-width: 600px) {
  .l-projects .projects__item {
    grid-column: span 18;
  }
}

.news {
  position: relative;
  padding-top: 5%;
  padding-bottom: 6%;
  min-height: 100%;
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .news {
    padding-top: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .news {
    padding-top: 15%;
    padding-bottom: 0;
  }
}
.news__main {
  margin-bottom: 30px;
}
.news__content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  overflow: hidden;
}
.news__card {
  position: relative;
  left: 0;
  overflow: hidden;
  padding: 15px;
  margin: 0 16px;
  background-color: white;
  min-width: 405px;
  height: 550px;
  text-align: center;
  transition: all 0.4s;
}
@media only screen and (max-width: 1023px) {
  .news__card {
    height: 460px;
  }
}
@media only screen and (max-width: 600px) {
  .news__card {
    min-width: 320px;
  }
}
.news__card:hover {
  color: white;
}
.news__card:hover .news__image-wrapper {
  height: 100%;
  background-color: #0f1120;
}
.news__card:hover .news__image {
  opacity: 0.4;
}
.news__card:hover .news__description {
  display: none;
}
.news__card:hover .news__brief {
  display: block;
}
.news__card:hover .news__btn {
  opacity: 1;
}
.news__card:hover .news__text {
  transform: translateY(-135%);
  padding: 0 10px;
}
.news__image {
  transition: all 0.8s;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__image-wrapper {
  transition: all 0.6s;
  overflow: hidden;
  width: 100%;
  height: 50%;
}
.news__description {
  margin-top: 20px;
}
.news__brief {
  display: none;
  margin-top: 20px;
}
.news__btn {
  transition: all 0.4s 0.8s;
  opacity: 0;
  margin: 0 auto;
  margin-top: 15px;
  width: 80%;
}
.news__text {
  transition: all 0.6s 0.4s;
  margin-top: 40px;
  margin-bottom: 20px;
}
.news__slide {
  margin: 0 20px;
  padding: 0 5px;
  width: 65px;
  height: 125px;
  z-index: 10;
  transition: all 0.4s;
}
.news__slide:hover, .news__slide:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}
.news__buttons {
  display: flex;
  justify-content: space-between;
}
.news__arrow {
  width: 80%;
  height: 100%;
}

.l-news {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: min-content;
}
.l-news .news__header {
  grid-column: 6/12;
  grid-row: 1;
}
@media only screen and (max-width: 1279px) {
  .l-news .news__header {
    grid-column: 5/13;
  }
}
@media only screen and (max-width: 1023px) {
  .l-news .news__header {
    grid-column: 4/14;
  }
}
@media only screen and (max-width: 800px) {
  .l-news .news__header {
    grid-column: 2/16;
  }
}
.l-news .news__buttons {
  grid-column: 1/-1;
  grid-row: 2;
  align-self: end;
}
@media only screen and (max-width: 600px) {
  .l-news .news__buttons {
    display: none;
  }
}
.l-news .news__content {
  grid-column: 1/17;
  grid-row: 3;
}
@media only screen and (max-width: 600px) {
  .l-news .news__content {
    grid-row: 2;
  }
}

.testimonials {
  min-height: 100%;
  background-color: #0f1120;
  background-image: url(../assets/img/sky.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
}
.testimonials--secondary {
  background-color: rgba(15, 17, 32, 0.8);
  background-image: url(../assets/img/white-suit.jpg), url(../assets/svg/sprite-decorations.svg#icon-testimonials);
  background-size: cover, 50%;
  background-position: top, center;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}
.testimonials__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5% 0;
  color: white;
  text-align: center;
}
.testimonials__opinion {
  margin-top: 60px;
}
.testimonials__user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.testimonials__name {
  margin-top: 20px;
  font-weight: bold;
}
.testimonials__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__image-wrapper {
  overflow: hidden;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
.testimonials__cta {
  color: white;
}

.l-testimonials {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-testimonials .testimonials__content {
  grid-column: 5/13;
  align-self: center;
}
@media only screen and (max-width: 1279px) {
  .l-testimonials .testimonials__content {
    grid-column: 4/14;
  }
}
@media only screen and (max-width: 800px) {
  .l-testimonials .testimonials__content {
    grid-column: 2/16;
  }
}

.pricing {
  padding-top: 4%;
  padding-bottom: 8%;
  min-height: 100%;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .pricing {
    padding-bottom: 0;
  }
}
.pricing__header {
  margin-bottom: 80px;
}
.pricing__main {
  margin-bottom: 30px;
}
.pricing__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 60px 65px rgba(15, 17, 32, 0.1);
  background-color: white;
}
@media only screen and (max-width: 1023px) {
  .pricing__content {
    box-shadow: none;
  }
}
@media only screen and (max-width: 800px) {
  .pricing__content {
    grid-template-columns: 1fr;
  }
}
.pricing__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 800px) {
  .pricing__column {
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
}
.pricing__column:nth-of-type(2) {
  justify-content: center;
  transform: translateY(-4.54%);
  box-shadow: 0 40px 56px rgba(15, 17, 32, 0.1);
  height: 110%;
}
@media only screen and (max-width: 1023px) {
  .pricing__column:nth-of-type(2) {
    height: 100%;
    transform: none;
    box-shadow: none;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}
.pricing__title {
  margin-bottom: 20px;
}
.pricing__cost {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  background-color: #0f1120;
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  color: white;
}
.pricing__cost--primary {
  background-color: #1268fe;
}
.pricing__description {
  margin-bottom: 35px;
  width: 80%;
  height: 20px;
}
.pricing__features {
  margin-bottom: 30px;
  width: 100%;
}
.pricing__benefit {
  padding: 20px 0;
  border-bottom: 1px solid rgba(15, 17, 32, 0.1);
}
.pricing__btn {
  margin-top: 10px;
}

.l-pricing {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-pricing .pricing__header {
  grid-column: 6/12;
  grid-row: 1;
  align-self: center;
}
@media only screen and (max-width: 1279px) {
  .l-pricing .pricing__header {
    grid-column: 5/13;
  }
}
@media only screen and (max-width: 1023px) {
  .l-pricing .pricing__header {
    grid-column: 4/14;
  }
}
@media only screen and (max-width: 800px) {
  .l-pricing .pricing__header {
    grid-column: 2/16;
  }
}
.l-pricing .pricing__content {
  grid-column: 3/15;
  grid-row: 2;
  align-self: start;
}
@media only screen and (max-width: 1279px) {
  .l-pricing .pricing__content {
    grid-column: 2/16;
  }
}
@media only screen and (max-width: 1023px) {
  .l-pricing .pricing__content {
    grid-column: 1/17;
  }
}

.contact {
  background-color: white;
  min-height: 100%;
}
.contact__main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__video {
  background-image: url(../assets/img/person.jpg);
  background-color: #1268fe;
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: center;
}
.contact__form {
  padding: 5% 0;
  width: 60%;
}
@media only screen and (max-width: 800px) {
  .contact__form {
    width: 100%;
  }
}
.contact__text {
  margin: 50px 0;
}
.contact__input {
  display: block;
  margin: 20px 0;
  padding: 15px 30px;
  border: 1.5px solid rgba(15, 17, 32, 0.15);
  border-radius: 32px;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: #0f1120;
  transition: all 0.4s;
}
.contact__input:focus, .contact__input:hover {
  border: 1.5px solid rgba(15, 17, 32, 0.6);
}
.contact__btn {
  margin-top: 30px;
}

.l-contact {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}
.l-contact .contact__main {
  grid-column: 1/10;
}
@media only screen and (max-width: 1023px) {
  .l-contact .contact__main {
    grid-column: 2/16;
  }
}
.l-contact .contact__side {
  grid-column: 11/17;
}
@media only screen and (max-width: 1023px) {
  .l-contact .contact__side {
    display: none;
  }
}

.footer__logo {
  color: white;
}
@media only screen and (max-width: 800px) {
  .footer__logo {
    color: black;
  }
}
.footer__copyright {
  color: #979797;
}
@media only screen and (max-width: 800px) {
  .footer__copyright {
    color: black;
  }
}
.footer__nav {
  text-transform: uppercase;
}
.footer__links {
  padding: 30px 0;
  background-color: white;
}
.footer__info {
  padding: 20px 0;
  background-color: #0f1120;
}
@media only screen and (max-width: 800px) {
  .footer__info {
    background-color: white;
  }
}

.l-footer__links {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .l-footer__links {
    display: none;
  }
}
.l-footer__links .nav {
  grid-column: 2/10;
}
.l-footer__links .footer__media {
  grid-column: 12/16;
  justify-self: right;
}
@media only screen and (max-width: 1279px) {
  .l-footer__links .footer__media {
    grid-column: 12/17;
  }
}
@media only screen and (max-width: 1023px) {
  .l-footer__links .footer__media {
    display: none;
  }
}

.l-footer__info {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
}
.l-footer__info .footer__logo {
  grid-column: 2/5;
}
@media only screen and (max-width: 600px) {
  .l-footer__info .footer__logo {
    grid-column: 2/8;
  }
}
.l-footer__info .footer__copyright {
  grid-column: 7/16;
  justify-self: end;
}
@media only screen and (max-width: 1023px) {
  .l-footer__info .footer__copyright {
    grid-column: 5/16;
  }
}
@media only screen and (max-width: 600px) {
  .l-footer__info .footer__copyright {
    grid-column: 8/16;
  }
}

.nav {
  text-transform: uppercase;
}
@media only screen and (max-width: 800px) {
  .nav {
    position: fixed;
    top: 0;
    background-color: white;
    padding-top: 10px;
  }
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__list--narrow .nav__link {
  margin-right: 15px;
}
@media only screen and (max-width: 1023px) {
  .nav__list {
    padding-top: 10px;
  }
}
@media only screen and (max-width: 800px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  margin-right: max(30px, 3vw);
}
.nav__btn {
  margin-left: auto;
  margin-right: 40px;
}
@media only screen and (max-width: 800px) {
  .nav__btn {
    margin-right: 20px;
  }
}
.nav__border {
  display: none;
  margin-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1023px) {
  .nav__border {
    display: block;
  }
}
.nav__burger {
  display: none;
  margin-right: 10px;
}
@media only screen and (max-width: 800px) {
  .nav__burger {
    display: block;
  }
}
.nav__mobile {
  transition: right 0.3s ease-in-out;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: white;
}
.nav__mobile-list {
  margin-top: 50px;
  margin-bottom: 30px;
}
.nav__mobile-link {
  display: block;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav__mobile-link:hover {
  color: #1268fe;
  cursor: pointer;
}

.l-nav {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  align-items: center;
}
.l-nav .nav__logo {
  grid-column: 1/4;
  justify-self: center;
}
@media only screen and (max-width: 1023px) {
  .l-nav .nav__logo {
    grid-column: 2/12;
    justify-self: start;
  }
}
.l-nav .nav__list {
  grid-column: 4/15;
}
@media only screen and (max-width: 1023px) {
  .l-nav .nav__list {
    grid-column: 2/-1;
    justify-self: start;
    order: 2;
  }
}
.l-nav .nav__btn {
  grid-column: 16/17;
}
@media only screen and (max-width: 800px) {
  .l-nav .nav__btn {
    grid-column: 15/16;
  }
}
.l-nav .nav__border {
  grid-column: 1/-1;
  grid-row: 2;
}
.l-nav .nav__burger {
  grid-column: 16/17;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.social-media__button {
  margin-top: 30px;
}
.social-media__link {
  margin: 0 20px;
  transition: all 0.4s ease-in-out;
}
.social-media__link:hover, .social-media__link:focus {
  color: #1268fe;
}
.social-media__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.cta {
  display: flex;
  flex-direction: column;
  color: white;
}
.cta--black {
  color: #0f1120;
}
.cta__title {
  margin-bottom: 50px;
}
.cta__text {
  margin-bottom: 70px;
}
.cta__text--narrow {
  width: 80%;
}
.cta__btn {
  align-self: start;
}
.cta__btn--center {
  align-self: center;
}

.video {
  position: relative;
  padding-top: 100%;
}
.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 35%;
}
.video__play:hover {
  cursor: pointer;
}
.video--full-height {
  height: 100%;
}

.btn {
  display: block;
  transition: all 0.4s ease-in-out;
  padding: 20px 80px;
  border: 1.5px solid rgba(151, 151, 151, 0.3);
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
@media only screen and (max-width: 1023px) {
  .btn {
    padding: 15px 60px;
  }
}
@media only screen and (max-width: 600px) {
  .btn {
    padding: 15px 50px;
  }
}
.btn:hover {
  cursor: pointer;
}
.btn--link {
  padding: 10px;
}
@media only screen and (max-width: 800px) {
  .btn--link {
    padding: 6px;
  }
}
.btn--round {
  display: block;
  padding: 20px;
  border-radius: 50%;
}
.btn--rounded {
  border-radius: 32px;
}
.btn--primary {
  background-color: #1268fe;
  color: white;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: white;
  color: black;
}
.btn--secondary {
  background-color: black;
  color: white;
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: white;
  color: black;
}
.btn--tertiary {
  background-color: white;
  color: black;
}
.btn--tertiary:hover, .btn--tertiary:focus {
  background-color: black;
  color: white;
}
.btn--transparent {
  background-color: transparent;
}
.btn--transparent:hover, .btn--transparent:focus {
  background-color: white;
  color: black;
}
.btn--full-width {
  display: block;
  width: 100%;
}

.burger {
  display: flex;
  flex-direction: column;
  position: relative;
}
.burger:focus .burger-line, .burger:hover .burger-line {
  background-color: #0151dc;
}
.burger:focus {
  outline: none;
}
.burger-line {
  transition: all 0.4s ease-in-out, opacity 0.2s;
  width: 25px;
  height: 4px;
  border-radius: 10px;
  background-color: #0f1120;
}
.burger-line:nth-of-type(2) {
  margin: 3px 0;
}
.burger-toggler {
  display: none;
}
.burger-toggler:checked ~ .burger .burger-line:nth-of-type(2) {
  opacity: 0;
}
.burger-toggler:checked ~ .burger .burger-line:nth-of-type(1) {
  transform: rotate(225deg) translateY(-5px) translateX(-5px);
}
.burger-toggler:checked ~ .burger .burger-line:nth-of-type(3) {
  transform: rotate(-225deg) translateY(5px) translateX(-5px);
}

.blur {
  position: fixed;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(15, 17, 32, 0.4);
  transition: all 0.4s ease-in-out;
}
.blur__is-visible {
  pointer-events: all;
  opacity: 1;
}

.container {
  position: relative;
  width: 100%;
}

.aspect-ratio-box {
  position: absolute;
  width: 100%;
  padding-bottom: 56.25%;
}
