#{$nav-class-name}__backdrop {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  transition: all 0.6s;

  opacity: 0;
  @include z-index(nav-backdrop);

  width: 100vw;
  height: 100vh;

  @include respond($small-bp) {
    display: block;
  }

  &--skin {
    background-color: f_color(main, secondary, $alpha: 0.3);
  }
}
