#{$nav-class-name}__link {
  transition: all 0.4s;

  &:hover:not(&--active):not(&--register) {
    color: f_color(font, primary-dark);
  }

  &--skin {
    @include font($size: clamp(12px, 1.4vw, 18px), $weight: bold, $l-spacing: 3px);

    @include respond($large-bp) {
      font-size: clamp(12px, 1.8vw, 17px);
    }
    @include respond($medium-bp) {
      font-size: clamp(12px, 2.5vw, 17px);
    }
  }

  &--active {
    color: f_color(font, primary);

    &:hover {
      cursor: default;
    }
  }

  &--button {
    padding: clamp(8px, 1.3vw, 11px) clamp(11px, 1.3vw, 15px);
  }

  &--login {
    border: 1px solid f_color(main, secondary, $alpha: 0.3);

    &:hover {
      border: 1px solid f_color(main, primary-dark, $alpha: 0.6);
    }
  }

  &--register {
    background-color: f_color(main, primary);

    color: f_color(font, tertiary);

    &:hover {
      background-color: f_color(main, primary-darker);
    }
  }

  &-container {
    display: flex;

    @include respond($medium-bp, true) {
      margin-left: auto;

      &:not(&--user-connect) {
        display: none;
      }
    }

    @include respond($small-bp) {
      margin-left: auto;

      &:not(&--user-connect) {
        display: none;
      }
    }

    &--pages {
      margin-right: auto;

      @include respond($medium-bp) {
        justify-content: space-between;
        order: 2; // Move element to the last position of flex box

        margin-top: 15px;
        border-top: 1px solid f_color(main, secondary, $alpha: 0.2);
        padding-top: 15px;

        width: 100%;
      }
    }
  }

  &-wrapper {
    padding: 0 clamp(10px, 1.6vw, 15px);
    &:first-of-type {
      padding-left: 0;
    }

    @include respond($medium-bp) {
      &:last-of-type {
        padding-right: 0;
      }
    }

    &--login {
      @include respond($small-bp) {
        display: none;
      }
    }
  }
}
