.news {
  padding-top: 4%;
  padding-bottom: 6%;
  min-height: 100%;

  text-align: center;

  &__main {
    margin-bottom: 30px;
  }

  &__content {
    @include flex-center;

    margin-top: 40px;

    overflow: hidden;
  }

  &__card {
    padding: 15px;
    margin: 0 16px;

    background-color: f_color(main, tertiary);

    min-width: 405px;
    height: 550px;

    text-align: center;

    @include respond($medium-bp) {
      height: 460px;
    }

    &:hover {
      color: f_color(main, tertiary);
    }
  }

  &__card:hover &__image-wrapper {
    height: 100%;
    background-color: f_color(main, secondary);
  }

  &__card:hover &__image {
    opacity: 0.4;
  }

  &__card:hover &__description {
    display: none;
  }

  &__card:hover &__brief {
    display: block;
  }

  &__card:hover &__btn {
    opacity: 1;
  }

  &__card:hover &__text {
    transform: translateY(-135%);
    padding: 0 10px;
  }

  &__image {
    transition: all 0.8s;

    min-width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      transition: all 0.6s;

      overflow: hidden;

      width: 100%;
      height: 50%;
    }
  }

  &__description {
    margin-top: 20px;
  }

  &__brief {
    display: none;

    margin-top: 20px;
  }

  &__btn {
    transition: all 0.4s 0.8s;

    opacity: 0;

    margin: 0 auto;
    margin-top: 15px;

    width: 80%;
  }

  &__text {
    transition: all 0.6s 0.4s;

    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.l-news {
  @include grid16;

  .news__header {
    grid-column: 6 / 12;
    grid-row: 1;

    @include respond($big-bp) {
      grid-column: 5 / 13;
    }

    @include respond($medium-bp) {
      grid-column: 4 / 14;
    }

    @include respond($small-bp) {
      grid-column: 2 / 16;
    }
  }

  .news__content {
    grid-column: 1 / 17;
    grid-row: 2;
  }
}
