.l-page {
  position: relative;

  height: 100%;
  overflow-x: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.l-page__header {
  position: relative;
  @include background(
    $image: url(../assets/svg/header-decoration.svg),
    $size: contain,
    $repeat: no-repeat,
    $position: 100% center
  );
}
