.testimonials {
  min-height: 100%;

  background-color: f_color(main, secondary);
  background-image: url(../assets/img/sky.jpg);
  background-size: cover;
  background-blend-mode: soft-light;

  &--secondary {
    background-color: f_color(main, secondary, 0.8);
    background-image: url(../assets/img/white-suit.jpg), url(../assets/svg/sprite-decorations.svg#icon-testimonials);
    background-size: cover, 70%;
    background-position: top, center;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

    @include respond($tiny-bp) {
      background-image: url(../assets/img/white-suit.jpg);
      background-size: cover;
      background-position: top;
    }
  }

  &__content {
    @include flex-center;
    flex-direction: column;

    padding: max(60px, 5%) 0;

    color: f_color(font, tertiary);
    text-align: center;
  }

  &__opinion {
    margin-top: 60px;
  }

  &__user {
    @include flex-center;
    flex-direction: column;

    margin-top: 30px;
  }

  &__name {
    margin-top: 20px;

    font-weight: bold;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &-wrapper {
      overflow: hidden;

      border-radius: 100%;

      width: 64px;
      height: 64px;
    }
  }

  &__cta {
    color: f_color(font, tertiary);
  }
}

.l-testimonials {
  @include grid16;

  .testimonials__content {
    grid-column: 5 / 13;
    align-self: center;

    @include respond($big-bp) {
      grid-column: 4 / 14;
    }

    @include respond($small-bp) {
      grid-column: 2 / 16;
    }
  }
}
