.btn {
  transition: all 0.4s;

  padding: 20px 80px;

  &:hover {
    cursor: pointer;
  }

  &--skin {
    border: 1.5px solid f_color(main, tertiary-dark, 0.3);
    border-radius: 32px;
    background-color: f_color(main, secondary-black);

    font-size: 12px;
    font-weight: bold;
    color: f_color(font, tertiary);
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: f_color(main, tertiary);
      color: f_color(font, secondary);
    }
  }

  &--invert {
    background-color: f_color(main, tertiary);
    color: f_color(font, secondary);

    &:hover,
    &:focus {
      background-color: f_color(main, secondary-black);
      color: f_color(font, tertiary);
    }
  }

  &--small {
    padding: 15px 60px;
  }

  &--transparent {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: f_color(main, tertiary);
      color: f_color(font, secondary);
    }
  }

  &--primary {
    background-color: f_color(main, primary);

    &:hover,
    &:focus {
      background-color: f_color(main, tertiary);

      color: f_color(font, secondary);
    }
  }

  &--full-width {
    width: 100%;
  }
}
