.cta {
  color: f_color(font, tertiary);

  &--main {
    color: f_color(font, secondary);
  }

  &__header {
    margin-bottom: 50px;
  }

  &__content {
    margin-bottom: 70px;

    &--narrow {
      width: 70%;
    }
  }
}
