$large-bp: 950px;
$medium-bp: 600px;
$small-bp: 450px;

.cta {
  display: flex;

  margin-top: 190px;

  &-container {
    width: clamp(450px, 50vw, 700px);
    margin-left: clamp(100px, 21vw, 900px);

    @include respond($large-bp) {
      width: clamp(415px, 75vw, 650px);
    }

    @include respond($medium-bp) {
      margin-left: clamp(18px, 6vw, 150px);
    }

    @include respond($small-bp) {
      width: clamp(300px, 80vw, 400px);
    }
  }

  &__header {
    @include font($size: clamp(48px, 4vw, 72px), $weight: bold, $color: f_color(font, secondary), $l-spacing: -1px);

    @include respond($large-bp) {
      font-size: clamp(38px, 6vw, 60px);
    }

    @include respond($small-bp) {
      @include font($size: clamp(28px, 8vw, 38px), $l-spacing: 1);
    }
  }

  &__text {
    margin-top: clamp(40px, 9vw, 100px);

    @include font($size: clamp(18px, 2vw, 24px), $weight: normal, $l-height: 32px, $l-spacing: -0.5);

    @include respond($large-bp) {
      font-size: clamp(18px, 4vw, 22px);
    }

    @include respond($small-bp) {
      @include font($size: clamp(12px, 4vw, 18px), $l-spacing: 0, $l-height: 1.5);
    }
  }

  &__button {
    transition: all 0.4s;

    margin-top: clamp(42px, 4vw, 72px);
    border: 1.5px solid f_color(main, secondary, 0.15);
    border-radius: 32px;
    padding: clamp(14px, 2vw, 20px) clamp(50px, 6.5vw, 100px);

    background-color: f_color(main, secondary);

    @include font($size: 16px, $color: f_color(font, tertiary), $t-transform: uppercase);

    &:hover {
      background-color: f_color(main, tertiary);
      color: f_color(font, secondary);
    }

    @include respond($small-bp) {
      margin-top: 25px;
      padding: 10px 30px;
    }
  }

  &__image {
    width: 100%;
    &-wrapper {
      width: 650px;
    }
  }
}
