.cta {
  display: flex;
  flex-direction: column;

  color: f_color(font, tertiary);

  &--black {
    color: f_color(font, secondary);
  }

  &__title {
    margin-bottom: 50px;
  }

  &__text {
    margin-bottom: 70px;

    &--narrow {
      width: 80%;
    }
  }

  &__btn {
    align-self: start;

    &--center {
      align-self: center;
    }
  }
}
