.expertise {
  margin: 100px 0;

  text-align: center;

  &__header {
    margin-bottom: 50px;
  }

  &__main {
    margin-bottom: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    box-shadow: 0 60px 65px f_color(main, secondary, 0.1);
    background-color: f_color(main, tertiary);
  }

  &__icon {
    width: 100%;
  }

  &__column {
    padding: 70px 50px;

    &:nth-of-type(2) {
      border-left: 1px solid f_color(main, secondary, 0.1);
      border-right: 1px solid f_color(main, secondary, 0.1);
    }
  }

  &__title {
    margin-top: 80px;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
