.footer {
  &__logo {
    color: f_color(font, tertiary);
  }

  &__copyright {
    color: f_color(font, tertiary-dark);
  }

  &__nav {
    text-transform: uppercase;
  }

  &__links {
    padding: 30px 0;
    background-color: f_color(main, tertiary);
  }

  &__info {
    padding: 20px 0;
    background-color: f_color(main, secondary);
  }
}
