.intro {
  &__main-background {
    background-color: f_color(main, primary);
    background-image: url(../assets/img/workspace.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
  }

  &__side-background {
    background-color: f_color(main, tertiary);
    background-image: url(../assets/svg/intro-decoration.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  &__cta {
    padding: 200px 0;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    right: 10%;

    transform: rotate(-90deg);

    font-weight: 900;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    min-height: 300px;

    &-wrapper {
      position: relative;

      &::after {
        position: absolute;
        top: -25px;
        right: -25px;

        border-radius: 50%;
        box-shadow: 0 0 40px f_color(main, secondary-black, 0.1);

        background-color: f_color(main, tertiary);
        background-image: url(../assets/svg/plus.svg);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 50% 50%;

        width: 55px;
        height: 55px;

        content: '';
      }
    }
  }
}
