.nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    transition: all 0.4s;

    margin-right: max(35px, 4.5vw);

    &:hover,
    .link:focus {
      color: f_color(font, primary-dark);
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: 60px;

    color: f_color(font, tertiary);

    .link {
      transition: all 0.4s;

      padding: 10px;
      background-color: f_color(main, primary);

      &:hover,
      &:focus {
        background-color: f_color(main, primary-darker);
        cursor: pointer;
      }
    }
  }
}
