.nav {
  text-transform: uppercase;

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    transition: all 0.4s;

    margin-right: max(35px, 4.5vw);

    &:hover,
    .link:focus {
      color: f_color(font, primary-dark);
    }
  }

  &__btn {
    margin-left: auto;
    margin-right: 60px;
  }
}
