.portfolio {
  &__item {
    position: relative;
    height: 100%;
    contain: layout;
  }

  &__item:hover &__content-wrapper {
    opacity: 1;
    cursor: pointer;
  }

  &__content {
    @include flex-center;
    flex-direction: column;

    padding: 0 40px;
    border-radius: 50%;
    border: 2px solid f_color(main, tertiary, 0.8);

    width: 77%;
    height: 77%;

    text-align: center;
    color: f_color(font, tertiary);

    &-wrapper {
      @include flex-center;

      position: absolute;
      top: 0;

      opacity: 0;
      transition: all 0.5s;

      background-color: f_color(main, primary, 0.6);

      width: 100%;
      height: 100%;
    }
  }

  &__title {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.7px;
  }

  &__text {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.45px;
  }

  &__image {
    width: 100%;

    object-fit: cover;

    &-wrapper {
      width: 100%;
      height: 100%;

      overflow: hidden;
    }
  }
}
