.site-header {
  background-color: f_color(main, tertiary);
  background-image: url(../assets/svg/header-decoration.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% center;

  &__cta {
    padding-bottom: 200px;
  }

  &__video {
    background-image: url(../assets/img/header-video.jpg);
    background-color: f_color(main, primary);
    background-size: cover;
    background-blend-mode: soft-light;
  }

  &__nav {
    padding-top: 30px;
    padding-bottom: 80px;
  }
}
