$large-bp: 600px;

.social-media {
  &-container {
    @include position(absolute, 200px);

    margin-left: clamp(20px, 3vw, 80px);

    @include respond($large-bp) {
      display: none;
    }
  }

  &-wrapper {
    @include flex(center, center);

    transition: all 0.4s ease-in-out;

    @include size(55px);

    &:not(:first-of-type) {
      margin-top: 30px;
    }

    &:hover {
      background-color: f_color(main, secondary);
      color: f_color(font, tertiary);
    }

    &--skin {
      border-radius: 50%;
      border: 1px solid f_color(main, secondary, 0.15);
    }

    &--twitter {
      background-color: f_color(main, secondary);
      color: f_color(font, tertiary);

      &:hover {
        background-color: f_color(main, tertiary);
        color: f_color(font, secondary);
      }
    }
  }

  &__icon {
    @include size(20px);

    fill: currentColor;
  }
}
