.video {
  &--small {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;

    width: clamp(250px, 27vw, 450px);
    height: clamp(250px, 27vw, 450px);

    background-image: url(../assets/img/header-video.jpg);
    background-color: f_color(main, primary);
    background-blend-mode: soft-light;
    background-size: cover;
  }

  &__play {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      width: 70px;
    }
  }
}
