.video {
  position: relative;

  padding-top: 100%;

  &__play {
    @include absolute-center;
    width: 35%;
    height: 35%;

    &:hover {
      cursor: pointer;
    }
  }

  &--full-height {
    height: 100%;
  }
}
