$large-bp: 950px;

.video {
  &--small {
    @include position(absolute, $bottom: 0, $right: 0);
    @include flex(center, center);

    @include size(max(250px, 27vw));

    @include background(
      $image: url(../assets/img/header-video.jpg),
      $color: f_color(main, primary),
      $size: cover,
      $blend: soft-light
    );

    @include respond($large-bp) {
      display: none;
    }
  }

  &__play {
    @include size(35%);
    @include flex(center, center);

    &:hover {
      cursor: pointer;
    }

    &-icon {
      @include size(100%);
    }
  }
}
