* {
  font-family: Dosis;
}

.header {
  &__primary {
    font-size: 72px;
    letter-spacing: -2px;
  }

  &__secondary {
    font-size: 48px;
    letter-spacing: -1.3px;
  }

  &__tertiary {
    font-size: 36px;
  }

  &__quaternary {
    font-size: 24px;
    letter-spacing: -0.6px;
  }
}

.text {
  &__primary {
    font-size: 32px;
    line-height: 57px;
    letter-spacing: -1.4px;
  }

  &__secondary {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  &__tertiary {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
  }
}
