* {
  font-family: Dosis;
}

.header {
  &__primary {
    font-size: 72px;
    letter-spacing: -2px;

    @include respond($small-bp) {
      font-size: clamp(40px, 9vw, 72px);
      letter-spacing: -1px;
    }
  }

  &__secondary {
    font-size: 48px;
    letter-spacing: -1.3px;

    @include respond($small-bp) {
      font-size: clamp(32px, 7vw, 48px);
      letter-spacing: 0;
    }
  }

  &__tertiary {
    font-size: 36px;
  }

  &__quaternary {
    font-size: 24px;
    letter-spacing: -0.6px;

    @include respond($medium-bp) {
      font-size: clamp(16px, 2.4vw, 24px);
      letter-spacing: 0;
    }
  }
}

.text {
  &__primary {
    font-size: 32px;
    line-height: 57px;
    letter-spacing: -1.4px;

    @include respond($small-bp) {
      font-size: clamp(24px, 5vw, 32px);
      line-height: 32px;
      letter-spacing: -0.5px;
    }
  }

  &__secondary {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.5px;
  }

  &__tertiary {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;

    @include respond($medium-bp) {
      font-size: clamp(12px, 1.7vw, 16px);
      line-height: 1.5;
      letter-spacing: 0;
    }
  }
}

.link {
  transition: all 0.4s;

  padding: 10px;

  font-size: 12px;
  font-weight: bold;
  letter-spacing: 3px;

  &:hover,
  &:focus {
    color: f_color(font, primary-dark);
    cursor: pointer;
  }

  .nav__link & {
    padding-left: 0;
  }

  .nav__mobile-list & {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
  }
}
