@mixin respond($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin position($pos: '', $top: '', $right: '', $bottom: '', $left: '') {
  position: #{$pos};
  top: #{$top};
  right: #{$right};
  bottom: #{$bottom};
  left: #{$left};
}

@mixin size($width: '', $height: $width) {
  width: #{$width};
  height: #{$height};
}

@mixin flex(
  $align-i: '',
  $justify-c: '',
  $direction: '',
  $wrap: '',
  $grow: '',
  $shrink: '',
  $basis: '',
  $flow: '',
  $align-c: '',
  $align-s: '',
  $justify-i: '',
  $justify-s: ''
) {
  display: flex;
  align-items: #{$align-i};
  justify-content: #{$justify-c};
  flex-direction: #{$direction};
  flex-wrap: #{$wrap};
  flex-grow: #{$grow};
  flex-shrink: #{$shrink};
  flex-basis: #{$basis};
  flex-flow: #{$flow};
  align-content: #{$align-c};
  align-self: #{$align-s};
  justify-items: #{$justify-i};
  justify-self: #{$justify-s};
}

@mixin background($image: '', $color: '', $size: '', $position: '', $repeat: '', $attachment: '', $blend: '') {
  background-image: #{$image};
  background-color: #{$color};
  background-size: #{$size};
  background-position: #{$position};
  background-repeat: #{$repeat};
  background-attachment: #{$attachment};
  background-blend-mode: #{$blend};
}

@mixin font(
  $family: '',
  $size: '',
  $weight: '',
  $color: '',
  $style: '',
  $align: '',
  $l-spacing: '',
  $w-spacing: '',
  $l-height: '',
  $t-transform: ''
) {
  font-family: #{$family};
  font-size: #{$size};
  font-weight: #{$weight};
  color: #{$color};
  font-style: #{$style};
  text-align: #{$align};
  letter-spacing: #{$l-spacing};
  word-spacing: #{$w-spacing};
  line-height: #{$l-height};
  text-transform: #{$t-transform};
}

@mixin z-index($name) {
  z-index: f_z-index($name);
}
