@use 'sass:map';

$color-black: #0f1120;
$color-blue: #1268fe;
$color-dark-blue: #0f1120;

$color-link: $color-blue;
$color-nav-border: $color-black;
$color-nav-burger: $color-black;
$color-nav-burger-hover: $color-blue;
